<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link  href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
    <title>EverDecision</title>
  </head>

<%- include('./partials/header') %>
<div class="classDesc">
  <p>Below are the original 14 classes for EverQuest. Select a class to view a short detail on what the class is, or view posts about each class. You can post any topic about a class but please remember to keep it user friendly, we are all here to help each other. If you have any questions regarding any class feel free to post a topic and other users will be able to respond to you. Thanks for stopping by EverDecision, we hope you find what you are looking for. </p>
</div>
<body>
  <nav class="charNav">
    <% for (let i = 0; i < allClasses.length; i++) { %>
      <div class="pagegradient">
        <a class="button" href="/everdecision/classes/<%= allClasses[i]._id %>">
          <img class="epic" src="<%= allClasses[i].icon %>" />
          <span>
            <p class="className">
              <%= allClasses[i].cClass %>
            </p>
          </span>
        </a>
      </div>
    <% } %> 
  </nav>
</body>

<%- include('./partials/footer') %>

</html>