<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link  href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
    <script defer src="/scripts/post-modal.js"></script>
    <title>EverDecision</title>
  </head>

<%- include('./partials/header') %> 
<body>
  <div class="showClass">
    <img src="<%= showChar.url %>" >
    <h1 class="charClass"><%= showChar.cClass %></h1>
    <img src="<%= showChar.url %>" >
  </div>
  <div class="classDesc">
    <p><%= showChar.description %></p>
  </div>
    <button onclick="toggle_visibility('popup-position');">POST THREAD</button> 
  <div class="popup-position hidden" id="popup-position">
    <%- include('./partials/post-modal'); %>
  </div>
  
  <div class="postNav">
    <% for (let i = 0; i < showChar.posts.length; i++) { %>
      <div class="pagegradient">
        <a class="postbutton" href="/everdecision/classes/<%= showChar.id %>/post/<%= showChar.posts[i]._id %> "><%= showChar.posts[i].title %>
          <span>
            <img class="epic" src="<%= showChar.icon %>" />
            <p class="className">
              <%= showChar.posts.title %>
            </p>
          </span>
        </a>
      </div>
    <% } %> 
  </div>
</body>
  
  <%- include('./partials/footer') %>
</html>