<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link  href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" class="href">
    <script defer src="/scripts/post-modal.js"></script>
    <title>EverDecision</title>
  </head>

<%- include('./partials/header') %>

<main class="classDesc">
  <h1 ><%= showPost.title %></h1>
  <h3>Posted by: <%= showPost.name %></h3>
  <img class="postImg1" src="<%= showPost.img %>">
  <textarea readonly class="readonly"><%= showPost.body %></textarea>
  <h6>Post Date: <%= showPost.createdAt %></h6>
  <div class="editDeleteBtns1">
    <button class="postThread" onclick="toggle_visibility('popup-position');"><i class="far fa-edit"></i></button> 
  
    <div class="popup-position hidden" id="popup-position">
      <%- include('./partials/editPost-modal') %> 
    </div>
      <form class="postDelete" action="/everdecision/classes/<%= showPost.character %>/post/<%= showPost._id %>?_method=DELETE" method="POST">
          <button class="postThread" type="submit"><i class="far fa-trash-alt"></i></button>
      </form>
  </div>
</main>

<ul class="classDesc">
<button onclick="toggle_visibility('popup-position2');">POST COMMENT</button> 
  
<div class="popup-position hidden" id="popup-position2">
  <%- include('./partials/comment-modal') %> 
</div>



  <% showPost.comments.forEach((comment) => { %>
    <div class="commentShow">
    <textarea readonly class="readonly1"><%= comment.body %></textarea>
    <div class="editDeleteBtns">
    
      <button class="postThread" onclick="toggle_visibility('popup-position<%= comment._id %>');"><i class="far fa-edit"></i></button> 
  
      <div class="popup-position hidden" id="popup-position<%= comment._id %>">
        <%- include('./partials/editComment-modal', {comment: comment}) %>
      </div>

      <form class="deleteComment" action="/everdecision/classes/<%= showPost.character %>/post/<%= showPost._id %>/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="postThread" type="submit"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
    <% }) %>
</ul>

<%- include('./partials/footer') %>

</html>